<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <a routerLink="first" class="navbar-brand text-success logo h1 align-self-center" href="index.html">
      <div class="logo-image">
        <img src="assets/img/new-white-logo.png" width="38" height="36" alt="">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <a routerLink="first" class="navbar-brand btn btn-dark"><i class="fa fa-home" aria-hidden="true"></i></a> -->
    <!-- <a routerLink="first" class="nav-link active">
      <div class="logo-image">
        <img src ="assets/img/new-white-logo.png" width="38" height="36" alt="">
      </div>
    </a> -->



    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item">
          <a routerLink="first" routerLinkActive="active" class="btn btn-dark">1st</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="electronics" routerLinkActive="active" class="nav-link active">Electronics</a>
        </li>
        <li class="nav-item">
          <a routerLink="wears" routerLinkActive="active" class="nav-link active">Wears</a>
        </li>
        <li class="nav-item">
          <a routerLink="furnitures" routerLinkActive="active" class="nav-link active">Furnitures</a>
        </li>
        <li class="nav-item">
          <a routerLink="food" routerLinkActive="active" class="nav-link active">Food</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="second" routerLinkActive="active" class="nav-link active">Add Product</a>
        </li>
        <li class="nav-item">
          <a routerLink="third" routerLinkActive="active" class="nav-link active">All Product</a>
        </li> -->
      </ul>
    </div>

    <a routerLink="cart" class="btn btn-outline-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
      <span class="badge badge-info"></span>
    </a>
    <a routerLink="cart" class="btn btn-outline-light">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> Login
      <span class="badge badge-info"></span>
    </a>
  </div>

</nav>