<!-- Start Banner Hero -->
<div id="myCarousel" class="carousel slide Kanit" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="carousel-item active">
           

            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/black-logo.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 style="color: #6f42c1;"><b>G3</b> Shopping</h1>
                            <h3 class="h2" style="color: #000">เรามีสินค้าทุกอย่างที่คุณต้องการ</h3>
                            <p style="color: #000">
                                G3 Shopping - บริการร้านสะดวกซื้อออนไลน์ ที่คุณสามารถซื้อของที่คุณต้องการ ได้จากทุกสถานที่บนโลก
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/ip14.avif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1" style="color: #000">IPhone 14 Pro</h1>
                            <h3 class="h2" style="color: #C489FF">(1 TB, Deep Purple)</h3>
                            <p style="color: #000">
                                IPhone รุ่นใหม่ล่าสุด พร้อมให้คุณได้เป็นเจ้าของแล้ว
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/air-jordan.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1" style="color: #000">Nike Air Jordan</h1>
                            <h3 class="h2" style="color: #C489FF">Air Jordan 1 Zoom CMFT</h3>
                            <p style="color: #000"> 
                                เรามีรองเท้าหลากหลายแบรนด์ดังให้คุณได้เลือกตามต้องการ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
<!-- End Banner Hero -->
<!-- <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
           
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img=" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3 Kanit">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">สินค้าขายดี</h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/budwiser.png" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Budwiser Beer</h5>
            <p class="text-center"><a class="btn btn-purple">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/leo.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Leo Beer</h2>
            <p class="text-center"><a class="btn btn-purple">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/bt.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Brothers Beer</h2>
            <p class="text-center"><a class="btn btn-purple">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
 <!-- Start Footer -->
 <footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 style="color: #6f42c1;">G3 Shopping</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Computer Engineering , SUT
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none"  style="color: #6f42c1;" href="">  09-999-9999</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" style="color: #6f42c1;" href="">  G3@g.sut.ac.th</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Electronics</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Wears</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Furnitures</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Food</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Home</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">About Us</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#" style="color: #6f42c1;">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 G3 Company 
                        | Designed by Group 3 :
                        <li>Chalermkiet Kongkapan</li>
                        <li>Wanatthapong Wongbuthong</li>
                        <li>Chawarat Narit</li>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>