<h2>All Product</h2>
<div class="table-responsive-md">  
<table class="table table-striped table-inverse">
    <thead class="thead-inverse">
        <tr>
            <th>ID.</th>
            <th>Type</th>
            <th>Name</th>
            <th>Detail</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
</div>

<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-primary border-bottom pb-3 border-light logo">G3 Shopping</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Computer Engineering , SUT
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="">  09-999-9999</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="">  G3@g.sut.ac.th</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Electronics</a></li>
                    <li><a class="text-decoration-none" href="#">Wears</a></li>
                    <li><a class="text-decoration-none" href="#">Furnitures</a></li>
                    <li><a class="text-decoration-none" href="#">Food</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 G3 Company 
                        | Designed by Group 3 :
                        <li>Chalermkiet Kongkapan</li>
                        <li>Wanatthapong Wongbuthong</li>
                        <li>Chawarat Narit</li>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>